@model IEnumerable<SchoolManagementApp.MVC.Data.Lecturer>

@{
    ViewData["Title"] = "Professeurs";
}
<br />
<h1><font size=10 color="#03224c"><center>Professeurs</center></font></h1><br />

<p>
    <a asp-action="Create" class="btn btn-success">Créer </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialité)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Specialité)
                </th>

                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Modifier</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Détails</a>
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" type="button">Supprimer</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Delete" id="lecturerDeleteForm">
    <input type="hidden" id="lecturerid" name="Id" />
</form>

@section Scripts{
    <script>$(function () {
            $('.table').DataTable();

            $('.deleteBtn').click(function (e) {
                Swal.fire({
                    title: 'vous êtes sûr ?',
                    text: "vous ne pouriez plus faire un retour en arrière",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui, Supprimez le!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        Swal.fire(
                            'supprimé!',
                            'Votre fichier est supprimé.',
                            'success'
                        );
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#lecturerid').val(id);
                        $('#lecturerDeleteForm').submit();
                    }
                })
            })
        })</script>
}
<br />
<br />
<br />
<br />
<center>l'Emsi est reconnue par l'Etat.</center>