@model SchoolManagementApp.MVC.Data.Enrollment

@{
    ViewData["Title"] = "Détails";
}

<h1><center><font size=10 color="#03224c">Détails</font></center></h1>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Class.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Modifier</a> 
    <a class="btn btn-dark" asp-action="Index">Retour à la liste</a>
</div>
<br />
<br />
<br />
<br />
<center>Emsi est reconnue par l'Etat.</center>